
body{
    background-color: lightcyan;
}
.container{
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    height: 50px;
    background-color: yellow;
}
.myul > li{
    display: inline-block;
    margin-right: 12px;
}
.myul{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    display: inline-block;
    padding: 0;
}
.myul> li> a{
    color: red;
    font-style: none;
}
.myul > li > a:hover{
    color: black
}
.myul > li > a:active{
    background-color: teal;
    color: white;
    
}
.myanchor{
    font-style: none;
}
.cst-span{
    background-color: red;
    color: white;
    padding: 10px;
}

.cta{
    text-align: center;
    width: 100%;
    background-color: red;
    height: 200px;
}
.inner{
    padding: 36px;
    right: 20px;
}
.cst-heading{
    background-color: white;
    height: 80px;
    font-size: 25px;
    margin: 50px 50px;
}